/react4j-modules/target
/react4j-modules/.project
/react4j-modules/.settings
/react4j-modules/react4j/.project
/react4j-modules/react4j/.settings
/react4j-modules/react4j/target
/react4j-modules/react4j/.classpath
/react4j-modules/react4j-core/.project
/react4j-modules/react4j-core/.settings
/react4j-modules/react4j-core/target
/react4j-modules/react4j-core/.classpath
/react4j-modules/react4j-parent/.settings
/react4j-modules/react4j-parent/target
/react4j-modules/react4j-parent/.project
/react4j-modules/react4j-test/.project
/react4j-modules/react4j-test/.settings
/react4j-modules/react4j-test/target
/react4j-modules/react4j-test/.classpath
/react4j-modules/react4j-core/src/main/resources/public
/react4j-modules/react4j-core/src/main/react/build
/react4j-modules/react4j-core/src/main/react/node_modules
/react4j-modules/react4j-data-datagrid/.project
/react4j-modules/react4j-data-datagrid/.settings
/react4j-modules/react4j-data-datagrid/target
/react4j-modules/react4j-data-datagrid/.classpath
/react4j-modules/react4j-data/.project
/react4j-modules/react4j-data/.settings
/react4j-modules/react4j-data/target
/react4j-modules/react4j-data/.classpath
/react4j-modules/react4j-core/src/main/react/backup
/react4j-modules/react4j-app-starter-parent/.project
/react4j-modules/react4j-app-starter-parent/.settings
/react4j-modules/react4j-app-starter-parent/.classpath
/react4j-modules/react4j-data-inmemory/.project
/react4j-modules/react4j-data-inmemory/.settings
/react4j-modules/react4j-data-inmemory/target
/react4j-modules/react4j-data-inmemory/.classpath
/react4j-modules/react4j-core/logs
/react4j-modules/react4j-app-starter-parent/target
/react4j-modules/react4j-i18n/.project
/react4j-modules/react4j-i18n/.settings
/react4j-modules/react4j-i18n/target
/react4j-modules/react4j-i18n/.classpath
/react4j-modules/react4j-i18n-deepl/.project
/react4j-modules/react4j-i18n-deepl/.settings
/react4j-modules/react4j-i18n-deepl/target
/react4j-modules/react4j-i18n-deepl/.classpath
*.springBeans
*.classpath
*.project
react4j-modules/react4j-ui-test/.settings/
react4j-modules/react4j-ui-test/target/
